<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="org.twinstone.eclipse.projectcompare.commands.category">
      </category>
      <command
            name="Compare with actual counterpart"
            categoryId="org.twinstone.eclipse.projectcompare.commands.category"
            id="org.twinstone.eclipse.projectcompare.commands.sampleCommand">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.twinstone.eclipse.projectcompare.commands.sampleCommand"
            class="org.twinstone.eclipse.projectcompare.handlers.SampleHandler">
      </handler>
   </extension>

   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.twinstone.eclipse.projectcompare.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>

   <!-- org.eclipse.core.resources.IFile-->
	<extension point = "org.eclipse.ui.popupMenus">
	     <objectContribution
	        id="org.twinstone.eclipse.projectcompare.compareContribution"
	        adaptable="true"
	        objectClass="org.eclipse.core.resources.mapping.ResourceMapping">
		    <action
            class="org.twinstone.eclipse.projectcompare.handlers.DefaultCounterpartAction"
            definitionId="org.twinstone.eclipse.projectcompare.commands.sampleCommand"
       		enablesFor="1"     
            icon="icons/sample.gif"
            id="org.twinstone.eclipse.projectcompare.compareCouterpartAction"
            label="Actual Counterpart"
            menubarPath="compareWithMenu/compareWithGroup">
		    </action>
		 </objectContribution>
   </extension>

	<extension
	     point = "org.eclipse.ui.propertyPages">
	        <page
               class="org.twinstone.eclipse.projectcompare.ui.PropertyPage"
               id="org.twinstone.eclipse.projectcompare.PropertyPage"
               name="Counterpart Compare"
               adaptable="true"
               objectClass="org.eclipse.core.resources.IProject"
               selectionFilter="single">
	        </page>
	</extension>	 	
</plugin>
